.content{
	background-color: black;
	opacity: 0.5;
	box-shadow: 0 0 5px 10px black;
	font-family: sans-serif;
	color: white;
	font-size: 20px;
	margin: 65px 100px 10px 100px;
}
div.wrapper{
	 background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/home.jpg");
}
div.history ,div.vision ,div.mission{
	margin: 10px 0;
	display: inline-block;
} 
div.history p,div.vision p,div.mission p{
	float: left;
}
div.head h2{
	font-weight: bold;
	color: #fb2525;
	float: left;
	margin: 20px 5px;
}
div.hr{
	border-top: 1.5px solid white;
    width:100px;
	float: left;
	margin-top: 37px;
	margin-bottom: 30px;
}